<h1 class="titlefont">ABOUT US</h1>

<hr>

<h1 class="abouttext">BUY..SELL..TRADE. EASY PEASY, RIGHT? YES IT IS. SIMPLY BROWSE THE AVAILABILITY OF WHAT "TREASURE" YOU MAY FIND. SELL SOMETHING THAT NO LONGER HOLDS YOUR ATTENTION <h1 class="tiny">(OR SOMETHING YOUR EX GAVE YOU)</h1>

<h1 class="abouttext">OR! CHECK THE POSSIBILITY OF ACTUALLY TRADING SOMETHING.</h1>

<br>

<h1 class="abouttext">IF WE AIN'T GOT IT, YOU PROBABLY DON'T NEED IT....</h1>