
<%= image_tag "scrappr.svg", class: "homelogo img-responsive" %>

<hr>

<p class="subtitle">ONE MAN'S TRASH</p>
<p class="subtitle">IS ANOTHER MAN'S TREASURE</p>

<!-- 
<h1>Protomap</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

 -->
 <div class='map-container'> 
 	<div id= 'map-aligner' class="">
 		<div id="map" style='width: 800px; height: 400px;'></div>
 	</div>
 </div>

<%=yield%>
