<p id="notice"><%= notice %></p>

<h1 class="titlefont">CATEGORIES!</h1>

<hr>

    <% @categories.each do |category| %>
     <div>
          <h1 class="catname"><%= link_to category.name.upcase, category %></h1>
      
    </div>

  <% end %>



<br>
